/* =============================
   ESTILO BASE
============================= */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    background: url("images/arena.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

header {
    header {
        background: transparent;
        padding: 0;
        margin: 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    justify-content: center;
    /* centraliza horizontalmente */
    gap: 12px;
    /* espaço entre logo e texto */
    margin-bottom: -20px;
}

.header-container h1 {
    font-size: 24px;
    color: white;
    margin: 0;
    font-size: 80px;
    text-shadow: 5px 5px #000;
}

.logo {
    width: 350px;
    /* ajuste o tamanho da logo */
    height: 220px;
}

/* =============================
   ARENA E PLAYERS
============================= */



.arena {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: -20px;
    flex-wrap: wrap;
}

.player-area {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* =============================
PLAYER COLUMN
============================= */

.player-column {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}


/* label jogador */

.player-label {

    font-size: 28px;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFD700;

    text-shadow:
        2px 2px 0 #FF0000,
        4px 4px 0 #000;

}


/* linha com 2 pokemons */

.pokemon-row {

    display: flex;
    gap: 10px;

}


/* caixa pokemon */

.pokemon-title {

    font-family: 'Pixelify Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #FFD700;

    text-shadow:
        2px 2px 0 #FF0000,
        4px 4px 0 #000;

}

.player-box {

    background: rgba(0, 0, 0, 0.6);

    padding: 15px;

    border-radius: 12px;

    width: 220px;

    box-shadow: 0 0 15px black;

}

/* =============================
   INPUT E BOTÕES
============================= */


.selection-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 5px;
}

.selection-box input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 90%;
    font-size: 16px;
}

.btn-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-select {
    padding: 3px 15px;
    border: none;
    border-radius: 8px;
    background: #3b4cca;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-select:hover {
    background: #2a36a3;
    transform: scale(1.05);
}

.btn-battle {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    background: linear-gradient(to right, #f44336, #ff9800);
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 2px 2px #000;
}

.btn-battle:hover {
    transform: scale(1.1);
}


/* =============================
   POKEMON DISPLAY E HP
============================= */

.pokemon-display {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.pokemon-display img {
    width: 180px;
    animation: float 2s infinite ease-in-out;
    display: block;
    margin: auto;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.hp-bar {
    background: #ddd;
    height: 22px;
    border-radius: 12px;
    overflow: hidden;
    margin: 10px 0;
}

.hp {
    background: #4caf50;
    height: 100%;
    width: 100%;
    transition: width 0.5s ease-in-out;
}

/* =============================
   VS CENTRAL
============================= */

.vs {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 75px;
    font-weight: bold;
    color: #FFD700;
    align-self: center;
    margin: 20px;
    text-shadow:
        3px 3px 0 #FF0000,
        6px 6px 0 #000;
    
}

/* =============================
   MODAL DE RESULTADO
============================= */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-box {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.modal-box h2 {
    font-size: 32px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #000;
}

.modal-box button {
    font-size: 18px;
}